{{- if .Values.CreateStorageClass }}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ .Values.DiskClassName }}
  annotations:
    helm.sh/resource-policy: keep
  {{- if eq .Values.K8SProvider "EKS" }}    
provisioner: {{ .Values.EKS_DSdriver }}
allowVolumeExpansion: true
parameters:
  type: gp3
  fsType: ext4
  {{- else if eq .Values.K8SProvider "AKS" }}  
provisioner: {{ .Values.AKS_DSdriver }}
allowVolumeExpansion: true
parameters:
  skuName: Premium_LRS
  kind: Managed
  {{- else if eq .Values.K8SProvider "GKE" }}  
provisioner: {{ .Values.GKE_DSdriver }}
allowVolumeExpansion: true
parameters:
  type: pd-standard   # pd-ssd (premium) or pd-standard  
  {{- end }}
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete
---
  {{- if .Values.AnalysisNodeFS.enable }}
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: {{ .Values.FileClassName }}
  annotations:
    helm.sh/resource-policy: keep
    {{- if eq .Values.K8SProvider "EKS" }}
provisioner: {{ .Values.EKS_FSdriver }}
parameters:
  provisioningMode: efs-ap  # Creates EFS Access Point
  fileSystemId: {{ .Values.AnalysisNodeFS.EFSsystemID }}  # Your EFS filesystem ID
  directoryPerms: "770"
  uid: "10001"
  gid: "10001"
    {{- else if eq .Values.K8SProvider "AKS" }}
provisioner: {{ .Values.AKS_FSdriver }}
allowVolumeExpansion: true
mountOptions:
 - dir_mode=0770
 - file_mode=0660
 - uid=10001
 - gid=10001
 - mfsymlinks
 - cache=strict
 - nobrl
parameters:
  skuName: Premium_LRS
  protocol: smb
    {{- else if eq .Values.K8SProvider "GKE" }}
provisioner: {{ .Values.GKE_FSdriver }}
allowVolumeExpansion: true
parameters:
  tier: standard  # premium or standard
    {{- end }} 
volumeBindingMode: WaitForFirstConsumer
reclaimPolicy: Delete
  {{- end }}
{{- end }}  
---
{{- if and .Values.AnalysisNodeFS.enable (eq .Values.K8SProvider "EKS") }}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-shared-datadir
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep  
  labels:
    app: castimaging
    imaging.service: console-analysis-node
spec:
  capacity:
    storage: {{ .Values.size_shared_datadir }}
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Delete
  storageClassName: {{ .Values.FileClassName }}
  csi:
    driver: {{ .Values.EKS_FSdriver }}
    volumeHandle: {{ .Values.AnalysisNodeFS.EFSsystemID }}::{{ .Values.AnalysisNodeFS.EFSaccessPointID }}
  claimRef:
    namespace: {{ .Release.Namespace }}
    name: pvc-shared-datadir
{{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-shared-datadir
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep  
  labels:
    app: castimaging
    imaging.service: console-analysis-node
spec:
  accessModes:
{{- if .Values.AnalysisNodeFS.enable }}
    - ReadWriteMany
  storageClassName: {{ .Values.FileClassName }}
{{- else }}
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
{{- end }}  
  resources:
    requests:
      storage: {{ .Values.size_shared_datadir }}
---
{{- if .Values.CastStorageService.enable }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db-data
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app: castimaging
    imaging.service: console-postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.size_db_data }}
  storageClassName: {{ .Values.DiskClassName }}
{{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-imagingviewer-v3-server-log
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep  
  labels:
    app: castimaging
    imaging.service: viewer-server
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
  resources:
    requests:
      storage: {{ .Values.size_imagingviewer_v3_server_log }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-imagingviewer-v3-etl-logs
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app: castimaging
    imaging.service: viewer-etl
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
  resources:
    requests:
      storage: {{ .Values.size_imagingviewer_v3_etl_logs }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-imagingviewer-v3-etl-csvarchive
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app: castimaging
    imaging.service: viewer-etl
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
  resources:
    requests:
      storage: {{ .Values.size_imagingviewer_v3_etl_csvarchive }} 
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-imagingviewer-v3-aimanager-logs
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app: castimaging
    imaging.service: viewer-aimanager
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
  resources:
    requests:
      storage: {{ .Values.size_imagingviewer_v3_aimanager_logs }}
---
{{- if .Values.McpServer.enable }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-mcpserver-logs
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app: castimaging
    imaging.service: mcp-server
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
  resources:
    requests:
      storage: {{ .Values.size_mcpserver_logs }}
{{- end }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-imagingviewer-v3-api-logs
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep
  labels:
    app: castimaging
    imaging.service: viewer-api
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.DiskClassName }}
  resources:
    requests:
      storage: {{ .Values.size_imagingviewer_v3_api_logs }}
---
{{- if .Values.ExtendProxy.enable }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-extendproxy-data
  namespace: {{ .Release.Namespace }}
  annotations:
    helm.sh/resource-policy: keep 
  labels:
    app: castimaging
    imaging.service: extendproxy 
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.size_extendproxy_data }}
  storageClassName: {{ .Values.DiskClassName }}
{{- end }}